
/* Estilo general */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4; /* Fondo gris claro */
    margin: 0;
    padding: 0;
    color: #333; /* Texto en gris oscuro */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Contenedor principal */
#login-container, #contBienvenida {
    background-color: #ffffff; /* Fondo blanco */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    max-width: 500px; /* Ancho máximo */
    width: 95%;
    text-align: center;
}

/* Título principal */
h1 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 20px;
}

/* Estilo de los inputs */
input {
    width: 50%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    color: #333;
    background-color: #f9f9f9;
}

input:focus {
    border-color: #007bff; /* Azul formal */
    outline: none;
    background-color: #ffffff;
}

/* Botones */
button {
    width: 20%;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
    background-color: #007bff; /* Azul formal */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

button:hover {
    background-color: #0056b3; /* Azul más oscuro */
}

button:active {
    background-color: #003f7f; /* Azul aún más oscuro */
}

/* Mensaje de bienvenida */
#msgBienvenida {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 20px;
}

/* Responsividad */
@media (max-width: 500px) {
    #login-container, #contBienvenida {
        padding: 20px;
        max-width: 90%;
    }

    h1 {
        font-size: 1.5rem;
    }

    input, button {
        font-size: 0.9rem;
    }
}   
